body {
  background-color: #8E2FEE;
}

.container {
	width: 1000px;
	max-width: 90%;
}

h1, h2, h3 {
  margin: 50;
  text-align: center;
  color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

p {
  text-align: left;
  padding: 0px;
  color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

p a {
  padding: 0px;
  color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
}

IMG.displayed {
  max-width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto
}

IMG.displayed_home {
  max-width: 90%;
  height: auto;
  padding: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {

}

li a {
    float: left;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1.0em 1.2em;
    text-decoration: none;
}

.nav .current {
  background-color: orange;
}

.nav {
  font-size: 18px;
}

.main {
  font-size: 18px;
  padding-top: 0px;
  padding-right: 1.2em;
  padding-bottom: 1.2em;
  padding-left: 1.2em;
}

.displayed {
  padding-top: 2em;
}

.expertise-list {
  font-size: 20px;
  list-style-type: circle;
  color: white;
  padding-left: 5em;
}

.expertise-sublist {
  font-size: 18px;
  list-style-type: circle;
  color: white;
  padding-left: 3em;
}

#footer {
  clear: both;
  padding: 1em;
  color: white;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
}

#PP_button {
  clear: both;
  padding: 1em;
  text-align: center;
}
