body {
  background-color: #8E2FEE;
}

h1, h2, h3 {
  margin: 50;
  text-align: center;
  color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

p {
  text-align: left;
  padding: 0px;
  color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

p a {
  padding: 0px;
  color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
}

IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto
}

IMG.displayed_home {
  padding: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {

}

li a {
    float: left;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav .current {
  background-color: orange;
}

.nav {
  font-size: 18px;
}

.main {
  font-size: 18px;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.displayed {
  padding-top: 20px;
}

.expertise-list {
  font-size: 20px;
  list-style-type: circle;
  color: white;
  padding-left: 100px;
}

.expertise-sublist {
  font-size: 18px;
  list-style-type: circle;
  color: white;
  padding-left: 50px;
}

#footer {
  clear: both;
  padding: 10px;
  color: white;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
}

#PP_button {
  clear: both;
  padding: 10px;
  text-align: center;
}
